boto3
opensearch-py
botocore
retrying
ipython
termcolor
rich
mcp
/Users/rmadabusi/workspace/wordware/amazon-bedrock-agent-samples-main/src/InlineAgent/dist/inlineagent-0+unknown-py3-none-any.whl
faiss-cpu
deepeval
rouge-score
bert-score
langchain-aws
langchain
langchain_core
langchain_community
langfuse
nltk
datasets